requests
Django==2.2.13
django-extensions
django-filter
django-flat-theme
djangorestframework<3.8  # 3.8.x breaks our custom routers - need fix!
ipython
psycopg2-binary==2.8.2
pytest-django
pytest
python-dateutil
pytz
beautifulsoup4
responses
gunicorn
uwsgi
icalendar
django-cors-headers==3.2.0
