{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block title %}Meinsack - legal{% endblock title %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">

    <div class="row-fluid">
      <div class="well" style="width: 600px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>

	    <div class="block-area">
	      <h1>FAQ</h1>

          <h2>Warum?</h2>
            Die Firma Schaal und M&uuml;ller entsorgt in Stuttgart den gelben Sack, auf die Bitte um einen digitalen Kalender wurde nur mit einer kostenpflichtigen App eines 3. Anbieters geantwortet. Wir haben keine Lust f&uuml;r so einen grundlegenden Dienst Geld auszugeben, und finden das sollte auch niemand anderes tun m&uuml;ssen. 
          <h2>Wer?</h2>
          <a href='https://twitter.com/mfandreas'>mfandreas</a> und <a href='https://twitter.com/momorientes'>momorientes</a> haben dieses Projekt beim <a href='http://codefor.de/stuttgart/'>OK Lab Stuttgart</a> im <a href='http://shackspace.de'>shackspace</a> umgesetzt.
          <h2>Was mache ich mit der ICAL URL?</h2>
          <h3>Google Calendar</h3>
          <ol>
              <li>Klicke auf das Dreieck rechts neben "Weitere Kalender"</li>
              <li>W&auml;hle "Per URL hinzuf&uuml;gen" aus</li>
              <li>F&uuml;ge die ICAL-URL in den Dialog ein</li>
              <li>Klicke auf "Kalender hinzuf&uuml;gen"</li>
          </ol> 
              Der Kalender sollte jetzt auftauchen, laut Google kann das bis zu 12h dauern, bei uns klappte es immer sofort.
	      <h2>Wie bekomme ich den nächsten Abholtermin für meine Straße aus der API?</h2>
	      <h3>Python</h3>
	      <pre>
import requests
r = requests.get("https://meinsack.click/v1/70327/Ulmer%20Stra%C3%9Fe/")
print("Next: {}".format(r.json().get('dates')[0]))
	      </pre>
	    </div>	    
          </div>
        </div><!-- /row fluid -->
      </div>
    {% include "footer.html" %}
    </div>
  </div>
</body>
{% endblock %}
