{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block title %}Meinsack - legal{% endblock title %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">

    <div class="row-fluid">
      <div class="well" style="width: 600px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>

	    <div class="block-area">
	      <h1>FAQ</h1>

	      FIXME
	    </div>	    
          </div>
        </div><!-- /row fluid -->
      </div>
    {% include "footer.html" %}
    </div>
  </div>
</body>
{% endblock %}
