    <div class="row-fluid">
      <div class="well" style="width: 600px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div class="col-xs-3">
            <a href="/">Home</a>
          </div>
          <div class="col-xs-3">
            <a href="/v1/">Api</a>
          </div>
          <div class="col-xs-3">
            <a href="{% url 'legal' %}">Impressum</a>
          </div>
          <div class="col-xs-3">
            <a href="{% url 'faq' %}">FAQ</a>
          </div>
        </div><!-- /row fluid -->
        <div class="row-fluid">
	  <br/>
        </div><!-- /row fluid -->
      </div>
    </div>
